<h1><%= @report.name %>の編集画面</h1>
<%= form_tag("/work/report/#{@report.id}/update") do %>
・レポート名
<p><input name ="name" value = "<%=@report.name%>"></p>
・誰に送信する？
<p><input name = "to_user" value ="<%=@report.to_user%>"></p>
・いつ？
日時：<div class="container" >
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                <input name = "date" type="text" value = "<%=@report.date%>"class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
                <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar" ></i></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'L'
            });
        });
    </script>
</div>
</div>
<div class="container">
    <div class='col-md-5'>
        <div class="form-group">
           <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                <input name = "in_time" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
           <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                <input name = "out_time" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({
            viewMode: 'times',
        });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            viewMode: 'times',

        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);

        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
</script>
・どこへ？
<p><input name = "adress" value ="<%=@report.adress%>"></p>
・持ち物※「,」で区切ってね！
<p>入力に応じて持ち物記入欄を自動生成or持ち物欄を隠して必要に応じて表示</p>
<p><input name = "items" value ="<%=@report.items%>"></p>
・自由記入欄
<p><input name ="content_start" value ="<%=@report.content_start%>"></p>
<input name = "submit" type = "submit" value = "更新！">
<% end %>
